 /* universal selector  apply on whole page*/
 *{
    color: rgb(121, 13, 13);
 }

 /* Element Selctor */
 h1{
    color: aquamarine;
 }

 /* id Selecor  use for single element*/ 
 #headingone{
    color: aqua;
 }

 /*calss Selector*/
 
 .headingo{
    color: aquamarine;
 }
